{#{% extends 'base.html.twig' %}#}
<!DOCTYPE html>
<html >
{#{% extends 'base.html.twig' %}#}
<head>
    {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <title>{% block title %}LogIn{% endblock %}</title>
    {% endblock %}

{#    {% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}#}
</head>

{% block body %}
{#<form method="post">#}
{#    {% if error %}#}
{#        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
{#    {% endif %}#}

{#    {% if app.user %}#}
{#        <div class="mb-3">#}
{#            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>#}
{#        </div>#}
{#    {% endif %}#}

{#    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>#}



{#    #}{##}
{#        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
{#        See https://symfony.com/doc/current/security/remember_me.html#}

{#        <div class="checkbox mb-3">#}
{#            <label>#}
{#                <input type="checkbox" name="_remember_me"> Remember me#}
{#            </label>#}
{#        </div>#}
{#    #}


{#</form>#}

    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <img src="https://5.imimg.com/data5/OW/JT/KM/SELLER-38806737/electric-car-charger-500x500.jpg"
                         class="img-fluid" alt="Phone image">
                </div>
                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign in</p>
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <label for="inputUsername">Email</label><br>
                            <input type="text" value="{{ last_username }}" name="_username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <label for="inputPassword">Password</label>
                            <input type="password" name="_password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >
                        </div>

                        <div class="form-check d-flex justify-content-center mb-5">
                            <label class="form-check-label" for="form2Example3">

                                Don't have an account?  <a href="/register">Sign-Up</a>
                            </label>
                        </div>

                        <!-- Submit button -->
{#                        <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>#}
                        <button class="btn btn-lg btn-primary " type="submit">
                            Sign in
                        </button>



                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
</html>