<!DOCTYPE html>
<html>
<head>

    <style>
        td, th, h1, h2, p{
            font-family: Optima, sans-serif
        }
    </style>
    {% form_theme CarForm 'bootstrap_5_layout.html.twig' %}
</head>
<body>
<br><td><a class="btn btn-outline-secondary text-center rounded-pill" href="/user">Back</a></td>
<H1><center>Car Details</center></H1><br>
<!--<a href="/{{ app.user ? 'logout' : 'login' }}" @click="isOpen = false">
    {{ app.user ? 'Logout' : 'Login' }}
</a> -->

<br><br>
<div style="width: 80%; overflow: hidden;">
    <div style="width: 600px; float: left;">
        <center><br><br><br><br><p>Plate: {{ car.getPlate() }}</p><br>
        <p>PlugType: {{ car.getPlugType() }}</p></center>
    </div>
    <div style="margin-left: 620px;">
        <h2>Update the car:</h2><br>
        {{ form_start(CarForm) }}
        {{ form_row(CarForm.plate) }}
        {{ form_row(CarForm.plugType) }}

        <button type="submit" class="btn btn-outline-secondary text-center rounded-pill">Update</button>
        {{ form_end(CarForm) }}
    </div>
</div>
</body>
</html>