<!DOCTYPE html>
<html>
<head>
    <style>
        td, th, h1, h2, p{
            font-family: Optima, sans-serif
        }
    </style>
    {% form_theme PlugForm 'bootstrap_5_layout.html.twig' %}
</head>
<body>
<br><td><a class="btn btn-outline-secondary text-center rounded-pill" href="{{ path('station_view', {'id':plug.getStationId().getId()} )}}">Back</a></td>
<H1><center>Plug Details</center></H1><br>
<!--<a href="/{{ app.user ? 'logout' : 'login' }}" @click="isOpen = false">
    {{ app.user ? 'Logout' : 'Login' }}
</a> -->

<br><br>
<div style="width: 80%; overflow: hidden;">
    <div style="width: 600px; float: left;">
        <center><p>Plug Type: {{ plug.getType() }}</p><br>
        <p>Status: {% if plug.getStatus() == 1 %}Available{% else %}Unavailable{% endif %}</p><br>
            <p>Station: {{ plug.getStationId().getName() }}</p></center>
    </div>
    <div style="margin-left: 620px;">
        <h2>Update the station:</h2><br>
        {{ form_start(PlugForm) }}
        {{ form_row(PlugForm.type) }}
        {{ form_row(PlugForm.status) }}


        {% if app.user %}
            <br><button type="submit" class="btn btn-outline-secondary text-center rounded-pill">Update</button>
        {% else %}
            <p><center style="color:red">Cannot update Plug</center></p><br>
        {% endif %}
        {{ form_end(PlugForm) }}
    </div>
</div>
</body>
</html>