<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <style>
        td, th, h1{
            font-family: Optima, sans-serif
        }

    </style>
</head>
<body>
<br><br><H1><center>Stations Manager</center></H1><br>
{#<a href="/{{ app.user ? 'logout' : 'login' }}" @click="isOpen = false">#}
{#{{ app.user ? 'Logout' : 'Login' }}#}
{#</a>#}
<br>
<div class="table-responsive" >
<table class="table table-striped table-borderless">
    <tr>
        <th scope="col">Station Name</th>
        <th scope="col">Location</th>
        <th scope="col">Details of the Station</th>
        <th scope="col">Delete Station</th>
    </tr>
    {% for station in stations %}
        <tr>
            <td scope="row">{{ station.getName() }}</td>
            <td>{{ station.getLocation() }}</td>
            <td><a style="background: lightblue" class="border-0 btn btn-outline-light " href="{{ path('station_view', {'id':station.getId()} )}}">Details</a></td>
            <td><a style="background: lightblue" class="border-0 btn btn-outline-light " href="{{ path('delete_view', {'id':station.getId()} )}}">Delete</a></td>
        </tr>
    {% endfor %}
</table>
</div>
<br>
<center><a style="background: lightblue" class="border-0 btn btn-outline-light rounded-pill" href="/new-station">Add Station</a></center>
<br><br>
</body>
</html>