{% extends 'base.html.twig' %}

{% block title %}New Station{% endblock %}

{% form_theme StationForm 'bootstrap_5_horizontal_layout.html.twig' %}

{% block body %}
    <br><h1 style="font-family: Optima, sans-serif"><center>New Station</center></h1><br>
<div style="width: 90%;">
    {{ form_start(StationForm) }}
    <center>{{ form_row(StationForm.name) }}
    {{ form_row(StationForm.location) }}
    {{ form_row(StationForm.latitude) }}
    {{ form_row(StationForm.longitude) }}</center></div>

    <br><center><button type="submit" class="btn btn-outline-secondary text-center rounded-pill" >Add</button></center>
    {{ form_end(StationForm) }}
{% endblock %}